<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Configuration -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">

        <!-- General -->
        <title>Gif Anonymous</title>
        <meta name="description" content="Gif Anonymous is a fun party game." />
        <link rel="icon" href="<%= BASE_URL %>favicon.ico">

        <!-- Open Graph -->
        <meta property="og:title" content="Gif Anonymous" />
        <meta property="og:description" content="Gif Anonymous is a fun party game." />
        <meta property="og:url" content="https://gifanonymous.com" />
        <meta property="og:image" content="<%= BASE_URL %>images/dog.png" />

        <!-- Twitter -->
        <meta name="twitter:title" content="Gif Anonymous">
        <meta name="twitter:description" content="Gif Anonymous is a fun party game.">
        <meta name="twitter:card" content="<%= BASE_URL %>images/dog.png">
        <meta property="twitter:image:src" content="<%= BASE_URL %>images/dog.png" />

        <!-- Microsoft -->
        <meta name="application-name" content="Gif Anonymous" />
    </head>
    <body>
        <noscript>
            <strong>We're sorry but Gif Anonymous doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
        </noscript>
        <div id="app"></div>
        <!-- built files will be auto injected -->
    </body>
</html>
